.fill svg {
  fill: var(--primary);
}

.star svg {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}

.ratingWrapper {
  position: relative;
}

.error {
  border: 1px solid var(--red);
}

.message {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red);
}
